<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Spencer Hurrle</title>
    </head>
    <body>
        <h2>Professional Software Development and Process Automation</h2>
        <h3>About Me:</h3>
        <p>My name is Spencer Hurrle, and I’m currently a DevOps Student
            at Per Scholas. I’m pursuing a career in DevOps so that I can 
            fill out more of my personal potential. I always aim to achieve 
            the most effective and transparent solutions in my work. In 
            addition to being technically proficient, I love to collaborate 
            with others and pool the best ideas into one amazing product.</p>

        <a href="{{ url_for('how-did-we-get-here') }}">Take a look at the process</a>
    </body>
</html>